.animate-text {
  display: inline-block;
  animation: move-text 10s linear infinite;
}

@keyframes move-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-text span {
  display: inline-block;
  animation: reveal-text 0.5s linear infinite;
}

@keyframes reveal-text {
  0% {
    visibility: hidden;
  }
  5% {
    visibility: visible;
  }
  95% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
